# Node & Next.js
node_modules
.next
out

# Env files (this is what protects your keys!)
.env*
.env.* 
!.env.example

# Mac files
.DS_Store
# Logs
*.log

# Vercel / Netlify configs
.vercel
.netlify

# System
*.swp
